<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Welcome To Zensar</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>


	<main role="main" class="container">

	<div class="starter-template">
		<h2>Landing Page</h2>
		<h3>
			<span th:text="'Hi Welcome ' + ${message}"></span>
		</h3>
	</div>

	<h4>Our Parnter Companies Are</h4>
	<div >
		<p th:each="company : ${companies}" th:text="${company}"></p>
	</div>

	</main>

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>